section{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px;
  height: 90vh;
  max-width: 1176px;
  margin: 0 auto;
}

select{
  margin-bottom: 60px;
}
.card{
  width: 33%;
  height: 400px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img{
  width: 100px;
  height: 100px;
}
